# nyc test coverage
.nyc_output


# Dependency directories
node_modules/

# Optional npm cache directory
.npm



cjs/**/*.d.ts
cjs/**/*.d.ts.map
cjs/**/*.js
cjs/**/*.js.map
cjs/*.tsbuildinfo

esm/**/*.d.ts
esm/**/*.d.ts.map
esm/**/*.js
esm/**/*.js.map
esm/*.tsbuildinfo
