# nyc test coverage
.nyc_output


# Yarn berry pnp
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# typescript compiler
cjs/**/*.d.ts
cjs/**/*.d.ts.map
cjs/**/*.js
cjs/**/*.js.map
cjs/*.tsbuildinfo

esm/**/*.d.ts
esm/**/*.d.ts.map
esm/**/*.js
esm/**/*.js.map
esm/*.tsbuildinfo

types/**/*.d.ts
types/**/*.d.ts.map
types/*.tsbuildinfo


# macos
.DS_Store